*{
    padding:0px;
    margin:0px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: black;
    color:white;
    background-image: url("./images/background.jpg");
    background-size: cover;
    backdrop-filter: blur(4px);
}
.form{
    height:525px;
    width:490px;
    border:3px white solid;
    border-radius: 5px;
    background-color:rgba(128,128,128,.25);
    backdrop-filter: blur(30px);
}

#register{
    height:50px;
    font-size:40px;
    text-align:center;
    margin-top:20px;
}

.text{
    font-size:25px;
    margin:20px 0 10px 20px;
}

.input::placeholder{
    color:white;
    opacity:90%;
}
.input{
    display:block;
    background-color: transparent;
    color:white;
    border:none;
    border-bottom: 1px rgb(212, 211, 211) solid;
    text-align:center;
    margin-left:20px;
    font-size: 15px;

}
#conf{
    margin:20px 0 10px 20px;
    display:inline;
}

#first, #last{
    display: inline;
}
#check-text{
    display:inline;
}

#mandatory{
    margin:25px 0 10px 0;
}
.check{
    margin:20px;
}
.sub{
    display:flex;
    justify-content: center;
}
#submit{
    font-size:25px;
    padding:6.5px;
    border-radius: 6px;
    margin-bottom: 5px;
}

#submit:hover, #chbox{
    background-color: rgb(107, 9, 7);
    color:white;
    cursor: pointer;
}

#chbox{
    cursor: pointer;
}

.asterisk{
    font-size: 15px;
}

#msg{
    margin-left: 20px;
    font-size:12px;
}

.correct{
    visibility: hidden;
}

.success{
    position: fixed;
    height:400px;
    width:400px;
    border-radius: 5px;
    visibility: hidden;
}
.suc-msg{
    align-items: center;
    font-size:40px;
}
.suc-pic{
    height:90%;
    width:90%;
    background-image: url("./images/success.gif");
    background-size: cover;
}

.on {
    visibility: visible;
    opacity: 100%;
  }

.off {
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width:550px){
    .form{
        height:525px;
        width:280px;
    }
    #register{
        height:40px;
        margin-top:5px;
    }
    #submit{
        font-size:20px;
        padding:6px;
    }

    .success{
        height:250px;
        width:250px;
    }
    .suc-msg{
        font-size:30px;
    }
}